body {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
  }
  h1{
    background-color: chartreuse;
  }
h2{
  background-color: #1c88e7;
}

  #header {
    background-color: #333;
    height: 100px;
    color: #fff;
    text-align: right;
    margin-bottom: 10px;
  }
  
  #nav {
    background-color: yellow;
    width: 20%;
    margin-right: 1%;

  }
  
  #content {
    background-color: chocolate;
    width: 60%;
    height: 100px;
  }
  
  #footer {
    background-color: cornflowerblue;
    margin-top: 10px;
    height: 200px;
text-align: center;
  }
  
  #header,
  #nav,
  #content,
  #footer {
    float: left;
  }
  
  #header,
  #footer {
    width: 100%;
  }